body{
    margin: 0;   
}

.container,
.container *{
    font-family: sans-serif;
}

.container {
    width: 400px;
    margin: 25px;
    padding: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    line-height: 1.4;
}